<body>
<div class="container">
  <div class="card">
    <div class="circle">
            <img src="assets\images\chanchal.jpeg" alt="Avatar" style="width:100%">

    
    </div>
    <div class="content">
      <p>Chanchal</p>
      <p>Team Leader </p>
      <a href="https://chanchal298.github.io/personal_portfolio/">Read More</a>
    </div>
  </div>
  <div class="card">
    <div class="circle">

      <img src="assets\images\krati.jpeg" alt="Avatar" style="width:100%">
      
    </div>
    <div class="content">
      <p>Krati</p>
      <p>Frontened developer </p>
      <a href="https://shuklakrati.github.io/Creative-CV/">Read More</a>
    </div>
  </div>
  <div class="card">
    <div class="circle">
       <img src="assets\images\imrana.jpeg" alt="Avatar" style="width:100%">

    </div>
    <div class="content">
      <p>Imrana</p>
      <p>Web developer </p>
      <a href="https://immo1999.github.io/Chatbot/">Read More</a>
    </div>
  </div>

  <div class="card">
    <div class="circle">
       <img src="assets\images\monika.jpeg" alt="Avatar" style="width:100%">

      
    </div>
    <div class="content">
      <p>Monika</p>
      <p>Web developer </p>
      <a href="https://monipandey.github.io/creative-cv/">Read More</a>
    </div>
  </div>

  <div class="card">
    <div class="circle">
       <img src="assets\images\rani.jpeg" alt="Avatar" style="width:100%">

     
    </div>
    <div class="content">
      <p>Archana</p>
      <p>Web developer </p>
      <a href="https://raneearchana.github.io/creative-cv/">Read More</a>
    </div>
  </div>
</div>
</body>