<div class="contact">
            <div class="container">
                <div class="section-header text-center">
                
                    <h2>Contact For Any Query</h2>
                </div>
                <div class="row align-items-center contact-information">
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Address</h3>
                                <p>123 Street, NY, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Call Us</h3>
                                <p>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Email Us</h3>
                                <p>info&#64;example.com</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                           <div class="contact-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Follow Us</h3>
                                <div class="contact-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>


                                </div>

                           
                            </div>
                        </div>
                    </div>
                </div>
                <section id="contact">
                    <div class="sectionheader"> <h1>CONTACT</h1></div>
                    <article>
                    <p>Thank you for your interest in contacting us. Whether you have a question, feedback, or just want to say hello, we'd love to hear from you. Please feel free to reach out using any of the methods below.</p>
                        
                            <label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">
                    

                            <form action="/" method="post" class="contactform">
                                <p class="input_wrapper"><input type="text" name="contact_nom" value=""  id ="contact_nom"><label for="contact_nom">NAME</label></p>
                                <p class="input_wrapper"><input type="text" name="contact_email" value=""  id ="contact_email"><label for="contact_email">EMAIL</label></p>
                                <p class="input_wrapper"><input type="text" name="contact_sujet" value=""  id ="contact_sujet"><label for="contact_sujet">SUBJECT</label></p>
                                <p class="textarea_wrapper"><textarea name="contact_message" id="contact_message"></textarea></p>
                                <p class="submit_wrapper"><input type="submit" value="Send Message"></p>         
                            </form>
                    </article>
                </section>  
        <!-- Contact End -->      
        

   

   

  
</div>