<!-- **** Section-1 Top-Banner ****  -->

    <section id="home">
        <div class="container-fluid px-0 top-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <h1>Delicious Healthy Recipes <br> From Family to Yours</h1>
                        <p class="drop-in-2">As a food lover and a number cruncher I've decided that cooking on a budget
                            shouldn't mean canned beans and ramen noodles night after night. Join me for delicious
                            recipes designed for small budgets.</p>
                        <div class="mt-4">
                            <button class="main-btn">Taste With Health <img src="assets/images/next.png" alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- **** Section-2 Counter Section **** -->

    <section id="counter">
        <section class="counter-section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h2>
                            <span id="count1"></span> +
                        </h2>
                        <p>CUSTOMERS</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h2>
                            <span id="count2"></span> +
                        </h2>
                        <p>REVIEWS</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h2>
                            <span id="count3"></span> +
                        </h2>
                        <p>RATINGS</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h2>
                            <span id="count4"></span> +
                        </h2>
                        <p>Recipe</p>
                    </div>
                </div>
            </div>
        
        </section>
    </section>

    <!-- **** Section-3 About Section ****  -->

    <section id="about">
        <div class="about-section wrapper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                        <div class="card border-0">
                            <img src="assets/images/health.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 text-sec">
                        <h2>We pride ourselves on making <span>real food</span> from the best ingredients.</h2>
                        <p class="drop-in-2"> Besides acquiring practical culinary experience, it's essential to establish a clear and effective plan that outlines the central theme of our recipe collection, its intended audience, and how it aligns with our vision of promoting healthy and delicious eating habits. Additionally, defining the platform's key features, such as recipe variety, nutritional focus, and user engagement strategies, will be crucial in ensuring its success. 
                            <br><br>
                            Furthermore, considerations regarding recipe development, ingredient sourcing, and fostering a supportive community of users should also be detailed in the plan.
                        </p>
                        <button class="main-btn mt-4">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="about2">
        <div class="food-type wrapper">
            <div class="container ">
                <div class="row aligns-item-center">
                    <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5">
                        <h2>We make <span>everything by hand</span> with the best possible ingredients.</h2>
                        <p class="drop-in-2">A recipe platform is a service that curates and provides access to a diverse array of nutritious and flavorful dishes for users. Recipes are crafted to promote health and wellness, utilizing fresh and wholesome ingredients to create delicious meals. 
                            <br>
                            While users may choose to prepare these recipes in their own kitchens, the platform may also offer additional resources such as nutritional information, cooking tips, and meal planning guidance.
                        </p>
                        <ul class="list-unstyled py-3">
                            <li>Tasty & Healthy Food</li>
                            <li>Good Service</li>
                            <li>Reasonable Cost</li>
                            <li>Hygiene and Cleanliness</li>
                        </ul>
                        <button class="main-btn mt-4">Learn More</button>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="card border-0">
                            <img src="assets/images/v.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>


    <!-- **** Section-4 Work Section ****  -->

    <section id="work">
        <section class="work-section">
            <div class="container">
                <div class="row text-center">
                    <h2>How It <span>Works</span></h2>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <img src="assets/images/br.jpeg" alt="">
                        <p class="drop-in-2">Quality Ingredients</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <img src="assets/images/flavour.jpg" alt="">
                        <p class="drop-in-2"> Balanced Flavors</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <img src="assets/images/payment.jpg" alt="">
                        <p class="drop-in-2">Reasonable coast</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <img src="assets/images/enjoy-food.png" alt="">
                        <p class="drop-in-2">and finally, enjoy your food</p>
                    </div>
                </div>
            </div>
            
        </section>
    </section>

    <!-- **** Section-5 Story Section  -->

    <section id="story">
        <div class="story-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-content">
                            <h2>When a man's stomach is full it makes no difference whether he is rich or poor.</h2>
                            <p class="drop-in-2">Embracing a diet rich in healthy, nourishing foods is not only a treat for your taste buds but also a boon for your body's well-being. Incorporating a variety of nutrient-dense ingredients into your meals provides your body with essential vitamins, minerals, and antioxidants, supporting overall health and vitality.</p>
                            <button class="main-btn mt-3">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- **** Section-6 Explore Food **** -->

    <section id="explore-food">
        <div class="explore-food wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-content text-center">
                            <h2>Explore Our <span>Foods</span></h2>
                            <p class="drop-in-2">Food is often the reason why people travel! After all, there is no
                                better way to appreciate a culture than by sampling local flavours. It could be in fancy
                                Michelin-starred restaurants, humble hole-in-the-wall eateries or cheap food carts on
                                the street. </p>
                        </div>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/soup.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                <h4>Vegetable Soup</h4>
                                 <p>Preparation Time: 30 - 40 Minutes
                                 <button class="btn btn-success">4.7 &#9733;</button></p>
                                <!-- <span>&#8377; 150<del>&#8377; 180</del></span> -->
                                <!-- <button class="mt-4 main-btn">Order Now</button> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/juice.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                <h4>Green Detox Juice</h4>
                                <p>Preparation Time: 10 - 15 Minutes <button class="btn btn-success">4.9 &#9733;</button></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/sa.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                <h4>Quinoa Salad</h4>
                                <p>Preparation Time: 20 - 25 Minutes <button class="btn btn-success">4.5 &#9733;</button></p>
                               <!--  <span>&#8377;90 <del>&#8377;120</del></span>
                                <button class="mt-4 main-btn">Order Now</button> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/smo.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                <h4>Berry Blast Smoothie</h4>
                                <p>Preparation Time: 5 - 10 Minutes <button class="btn btn-success">4.8 &#9733;</button></p>
                                <!-- <span>&#8377;100<del>&#8377;130</del></span>
                                <button class="mt-4 main-btn">Order Now</button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/wrap.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                <h4>Grilled Veggie Wrap</h4>
                                <p>Preparation Time: 15 - 20 Minutes <button class="btn btn-success">4.6 &#9733;</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/berry.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                   <h4>Blueberry Oatmeal</h4>
                                   <p>Preparation Time: 10 - 15 Minutes <button class="btn btn-success">4.4 &#9733;</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/ss.jpg" class="img-fluid" alt="">
                            <div class="pt-5">
                                 <h4>Kale Power Smoothie</h4>
                                 <p>Preparation Time: 5 - 10 Minutes <button class="btn btn-success">4.6 &#9733;</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="assets/images/sss.png" class="img-fluid" alt="">
                            <div class="pt-5">
                                 <h4>Summer Salad</h4>
                                 <p>Preparation Time: 15 - 20 Minutes <button class="btn btn-success">4.7 &#9733;</button></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- **** Section-7 Testinomial **** -->

    <section id="testinomial">
        <div class="wrapper testimonial-section">
            <div class="container text-center">
                <div class="text-center pb-4">
                    <h2 class="text-white">Testimonial</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-10 offset-lg-1">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                            <div class="carousel-indicators">

                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>

                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>

                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>

                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>

                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>

                            </div>

                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class="carousel-caption">
                                        <img src="assets/images/review-1.jpg">
                                        <p>“Absolutely loved the healthy recipe! It was not only delicious but also packed with nutritious ingredients. Can't wait to try more recipes from this collection!”</p>
                                        <h5>Johnthan Doe</h5>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <img src="assets/images/review-2.jpg">
                                        <p>“The vegan salad recipe was a hit with my family! Fresh, flavorful, and so easy to make. Thank you for sharing this nutritious dish!”</p>
                                        <h5> Ronnie E. </h5>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <img src="assets/images/review3.jpg">
                                                <p>“The low-carb soup recipe exceeded my expectations! It was hearty, satisfying, and perfect for chilly evenings. I'll definitely be making this again soon!”</p>

                                        <h5>Rick H.</h5>
                                    </div>
                                </div>


                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <img src="assets/images/review4.jpg">
                                         <p>“As someone conscious about healthy eating, I'm always on the lookout for delicious dishes with wholesome grains. Your healthy grains dish was incredible! It was packed with flavor and nutrition. Bravo!”</p>


                                        <h5>Bill M.</h5>
                                    </div>
                                </div>


                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <img src="assets/images/review5.jpg">
                                                <p>“I love this refreshing healthy drink! It's a perfect blend of fruits and veggies, and it's incredibly hydrating. I feel great after drinking it!”</p>

                                        <h5>Taylor M</h5>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- **** Section-8 FAQ Section **** -->

    <section id="faq">
        <div class="faq wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center pb-4">
                            <h2>Frequently Asked <span>Questions</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-sm-6 mb-4">
                        <h4><span>~</span>How do I find keto-friendly recipes?</h4>
                        <p class="drop-in-2">Finding keto-friendly recipes is easier than you might think. Simply browse through our collection of low-carb, high-fat recipes specially curated for the ketogenic diet. From savory mains to delicious desserts, we've got you covered. Just select your desired dish, follow the instructions, and enjoy a satisfying keto-friendly meal.</p>
                    </div>

                    <div class="col-sm-6 mb-4">
                    <h4><span>~</span>Can I customize keto recipes to suit my preferences?</h4>
                    <p class="drop-in-2">Absolutely! Our keto recipes are versatile and can be customized to fit your taste preferences and dietary needs. Whether you're vegetarian, prefer dairy-free options, or have specific ingredient restrictions, you can adapt our recipes to suit your individual requirements.</p>
                    </div>

                    <div class="col-sm-6 mb-4">
                    <h4><span>~</span>Can I customize keto recipes to suit my preferences?</h4>
                    <p class="drop-in-2">Absolutely! Our keto recipes are versatile and can be customized to fit your taste preferences and dietary needs. Whether you're vegetarian, prefer dairy-free options, or have specific ingredient restrictions, you can adapt our recipes to suit your individual requirements.</p>
                    </div>

                    <div class="col-sm-6 mb-4">
                    <h4><span>~</span>How can I replace high-carb potatoes in keto recipes?</h4>
                    <p class="drop-in-2">If you're looking to reduce the carb content of your recipes, there are several alternatives to potatoes that are lower in carbs. For example, you can use cauliflower as a substitute for mashed potatoes or roasted turnips as a replacement for roasted potatoes. These alternatives offer a similar texture and taste without the high carbohydrate content.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- **** Section-9 Book Food **** -->

    <section id="book-food">
        <div class="book-food">
            <div class="container book-food-text">
                <div class="row text-center">
                    <div class="col-lg-9 col-md-12">
                        <h2>Baked fresh daily by bakers with passion.</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 mt-lg-0 mt-4">
                        <button class="main-btn">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- **** Section-10 Newsletter **** -->



   