<body>
<!-- Food Start -->
    <div class="food mt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="food-item">
                        <i class='bx bxs-lemon'></i>
                        <h2>Fruit</h2>
                        <img src="/assets/images/mo.jpg" alt="Image">
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-snack"></i>
                        <h2>Vegetables</h2>
                        <img src="/assets/images/veg.jpg" alt="Images">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                       <i class="flaticon-snack"></i>
                        <h2>Grains</h2>
                        <img src="/assets/images/gr.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        
    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <video width="550" height="500" controls>
                            <source src="/assets/images/video3.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-header">
                            <p>About Us</p>
                            <h3>Cooking Since 2010</h3>
                        </div>
                        <div class="about-text">
                            <p>Welcome to Taste With Health</p>
                            <p>
                                At Taste With Health, we believe that enjoying delicious food shouldn't come at the cost of compromising your well-being. Our mission is simple: to provide you with delectable culinary experiences that nourish your body and delight your taste buds.
                            </p>
                            <p>
                                We're passionate about promoting a healthy lifestyle through food. Every dish we create is a testament to our commitment to using fresh, wholesome ingredients and innovative cooking techniques. From farm-fresh vegetables to lean proteins and heart-healthy fats, each ingredient is carefully selected to ensure maximum flavor and nutritional value.
                            </p>
                            <a class="btn custom-btn" href="">Connect Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
        
   <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->