<section id="footer">
    <div class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Footer links -->
                    <a routerLink="#"></a>
                    <a routerLink="#"></a>
                    <a routerLink="#"></a>
                    <a routerLink="#"></a>
                    <!-- Footer social media icons -->
                    <div class="footer-social pt-4 text-center">
                        <a href="#"><img src="assets/images/facebook.png" alt=""></a>
                        <a href="#"><img src="assets/images/twitter.png" alt=""></a>
                        <a href="#"><img src="assets/images/youtube.png" alt=""></a>
                        <a href="#"><img src="assets/images/linked.png" alt=""></a>
                        <a href="#"><img src="assets/images/instagram.png" alt=""></a>
                    </div>
                </div>

                <div class="col-sm-12">
                    <!-- Footer copy right text -->
                    <div class="footer-copy">
                        <div class="copy-right text-center pt-5">
                            <p class="text-light"> Developed with ❤ by Food Lover Team <br>&copy; Copyright 2024 | Developed
                                by EM-3 Teams- Chanchal, Krati, Imrana, Monika & Archana | All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
